%html
%head
  %title Clipmeme
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %script{src:"http://www.google.com/jsapi", type:"text/javascript"}
  %script{type:"text/javascript"}
    google.load("swfobject", "2.1");

%body
  = yield